# Local .terraform directories
**/.terraform/*

# .tfstate files (can contain sensitive data)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude CLI configuration files
.terraformrc
terraform.rc

# Exclude override files
*.tfvars
*.tfvars.json

# Ignore backup files
*.backup

# Ignore plan output
*.tfplan

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak
*.tmp

# MacOS system files
.DS_Store
